USE [master]
GO
/****** Object:  Database [HotelManagement]    Script Date: 31/08/2026 09:51:50 ******/
CREATE DATABASE [HotelManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HotelManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS01\MSSQL\DATA\HotelManagement.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HotelManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS01\MSSQL\DATA\HotelManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HotelManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HotelManagement]
GO
/****** Object:  User [mcp_readonly]    Script Date: 31/08/2026 09:51:51 ******/
CREATE USER [mcp_readonly] FOR LOGIN [mcp_readonly] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [claude_mcp]    Script Date: 31/08/2026 09:51:51 ******/
CREATE USER [claude_mcp] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [mcp_readonly]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [mcp_readonly]
GO
ALTER ROLE [db_owner] ADD MEMBER [claude_mcp]
GO
/****** Object:  Table [dbo].[Reservation]    Script Date: 31/08/2026 09:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservation](
	[ReservationID] [int] IDENTITY(1,1) NOT NULL,
	[GuestID] [int] NOT NULL,
	[RoomID] [int] NOT NULL,
	[EmployeeID] [int] NULL,
	[BookingID] [int] NOT NULL,
	[RatePlanID] [int] NOT NULL,
	[ReservationDate] [datetime2](7) NOT NULL,
	[CheckIn] [datetime2](7) NOT NULL,
	[CheckOut] [datetime2](7) NOT NULL,
	[ActualCheckIn] [datetime2](7) NULL,
	[ActualCheckOut] [datetime2](7) NULL,
	[CancellationDate] [datetime2](7) NULL,
	[NumberOfGuests] [int] NOT NULL,
	[ReservationStatus] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReservationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bill]    Script Date: 31/08/2026 09:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[BillID] [int] IDENTITY(1,1) NOT NULL,
	[ReservationID] [int] NOT NULL,
	[BillDate] [datetime2](7) NOT NULL,
	[BillStatus] [nvarchar](20) NOT NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Bill_Reservation] UNIQUE NONCLUSTERED 
(
	[ReservationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Guest]    Script Date: 31/08/2026 09:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guest](
	[GuestID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Gender] [nvarchar](20) NULL,
	[PhoneNumber] [nvarchar](30) NULL,
	[Email] [nvarchar](255) NULL,
	[DateOfBirth] [date] NULL,
	[Nationality] [nvarchar](100) NULL,
	[Address] [nvarchar](255) NULL,
	[CountryID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[GuestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 31/08/2026 09:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[RoomID] [int] IDENTITY(1,1) NOT NULL,
	[RoomStatusID] [int] NOT NULL,
	[RoomCategoryID] [int] NOT NULL,
	[RoomNumber] [int] NOT NULL,
	[Floor] [int] NOT NULL,
	[ViewType] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RoomNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[BillDetails]    Script Date: 31/08/2026 09:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


    -- BillDetails

CREATE   VIEW [dbo].[BillDetails]
AS
SELECT

    b.BillID,

    r.ReservationID,

    g.FirstName + ' ' + g.LastName AS Guest,

    rm.RoomNumber,

    b.BillDate,

    b.TotalAmount,

    b.BillStatus

FROM Bill b

INNER JOIN Reservation r
ON b.ReservationID = r.ReservationID

INNER JOIN Guest g
ON r.GuestID = g.GuestID

INNER JOIN Room rm
ON r.RoomID = rm.RoomID;

GO
/****** Object:  Table [dbo].[RoomStatusHistory]    Script Date: 31/08/2026 09:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomStatusHistory](
	[RoomStatusHistoryID] [int] IDENTITY(1,1) NOT NULL,
	[RoomID] [int] NOT NULL,
	[RoomStatusID] [int] NOT NULL,
	[EmployeeID] [int] NULL,
	[ChangeDateTime] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomStatusHistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomStatus]    Script Date: 31/08/2026 09:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomStatus](
	[RoomStatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[StatusName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 31/08/2026 09:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeRoleID] [int] NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](30) NULL,
	[Email] [nvarchar](255) NOT NULL,
	[HireDate] [date] NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[Salary] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[RoomStatusHistoryDetails]    Script Date: 31/08/2026 09:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



    --  RoomStatusHistoryDetails

CREATE   VIEW [dbo].[RoomStatusHistoryDetails]
AS
SELECT

    rsh.RoomStatusHistoryID,

    rm.RoomNumber,

    rs.StatusName,

    e.FirstName + ' ' + e.LastName AS Employee,

    rsh.ChangeDateTime

FROM RoomStatusHistory rsh

INNER JOIN Room rm
ON rsh.RoomID = rm.RoomID

INNER JOIN RoomStatus rs
ON rsh.RoomStatusID = rs.RoomStatusID

LEFT JOIN Employee e
ON rsh.EmployeeID = e.EmployeeID;

GO
/****** Object:  Table [dbo].[RatePlan]    Script Date: 31/08/2026 09:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RatePlan](
	[RatePlanID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[SeasonID] [int] NOT NULL,
	[MealPlanID] [int] NOT NULL,
	[PricePerNight] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RatePlanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_RatePlan] UNIQUE NONCLUSTERED 
(
	[CategoryID] ASC,
	[SeasonID] ASC,
	[MealPlanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 31/08/2026 09:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[BookingMethod] [nvarchar](50) NOT NULL,
	[DiscountPercentage] [decimal](5, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[BookingMethod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ReservationDetails]    Script Date: 31/08/2026 09:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

   --  ReservationDetails

CREATE   VIEW [dbo].[ReservationDetails]
AS
SELECT
    r.ReservationID,

    g.GuestID,
    g.FirstName,
    g.LastName,
    g.PhoneNumber,
    g.Email,

    rm.RoomNumber,

    b.BookingMethod,

    rp.PricePerNight,

    r.CheckIn,
    r.CheckOut,

    r.ActualCheckIn,
    r.ActualCheckOut,

    DATEDIFF(DAY,r.CheckIn,r.CheckOut) AS NumberOfNights,

    r.ReservationStatus

FROM Reservation r

INNER JOIN Guest g
ON r.GuestID = g.GuestID

INNER JOIN Room rm
ON r.RoomID = rm.RoomID

INNER JOIN Booking b
ON r.BookingID = b.BookingID

INNER JOIN RatePlan rp
ON r.RatePlanID = rp.RatePlanID;

GO
/****** Object:  Table [dbo].[EmployeeRole]    Script Date: 31/08/2026 09:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeRole](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 31/08/2026 09:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[DepartmentName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[EmployeeDetails]    Script Date: 31/08/2026 09:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


   -- EmployeeDetails

CREATE   VIEW [dbo].[EmployeeDetails]
AS
SELECT

    e.EmployeeID,

    e.FirstName,
    e.LastName,

    d.DepartmentName,

    er.RoleName,

    e.PhoneNumber,
    e.Email,

    e.Status

FROM Employee e

INNER JOIN Department d
ON e.DepartmentID = d.DepartmentID

INNER JOIN EmployeeRole er
ON e.EmployeeRoleID = er.RoleID;

GO
/****** Object:  Table [dbo].[Shift]    Script Date: 31/08/2026 09:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shift](
	[ShiftID] [int] IDENTITY(1,1) NOT NULL,
	[ShiftName] [nvarchar](50) NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ShiftID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ShiftName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeShift]    Script Date: 31/08/2026 09:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeShift](
	[EmployeeShiftID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[ShiftID] [int] NOT NULL,
	[WorkDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeShiftID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_EmployeeShift] UNIQUE NONCLUSTERED 
(
	[EmployeeID] ASC,
	[WorkDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[EmployeeSchedule]    Script Date: 31/08/2026 09:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


    -- EmployeeSchedule
CREATE   VIEW [dbo].[EmployeeSchedule]
AS
SELECT

    e.EmployeeID,

    e.FirstName,
    e.LastName,

    es.WorkDate,

    s.ShiftName,
    s.StartTime,
    s.EndTime

FROM Employee e

INNER JOIN EmployeeShift es
ON e.EmployeeID = es.EmployeeID

INNER JOIN Shift s
ON es.ShiftID = s.ShiftID;

GO
/****** Object:  View [dbo].[GuestDetails]    Script Date: 31/08/2026 09:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


    --  GuestDetails

CREATE   VIEW [dbo].[GuestDetails]
AS
SELECT

    GuestID,
    FirstName,
    LastName,
    PhoneNumber,
    Email

FROM Guest;

GO
/****** Object:  Table [dbo].[RoomCategory]    Script Date: 31/08/2026 09:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomCategory](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[MaximumGuests] [int] NOT NULL,
	[RoomSize] [decimal](6, 2) NOT NULL,
	[BedType] [nvarchar](50) NOT NULL,
	[NumberOfBeds] [int] NOT NULL,
	[HasBalcony] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[RoomDetails]    Script Date: 31/08/2026 09:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


    -- RoomDetails

CREATE   VIEW [dbo].[RoomDetails]
AS
SELECT

    r.RoomID,

    r.RoomNumber,

    r.Floor,

    rc.CategoryName,

    r.ViewType,

    rs.StatusName,

    rc.Description

FROM Room r

INNER JOIN RoomCategory rc
ON r.RoomCategoryID = rc.CategoryID

INNER JOIN RoomStatus rs
ON r.RoomStatusID = rs.RoomStatusID;

GO
/****** Object:  Table [dbo].[ServiceUsage]    Script Date: 31/08/2026 09:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceUsage](
	[UsageID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceID] [int] NOT NULL,
	[ReservationID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[DurationMinutes] [int] NULL,
	[UsageDate] [datetime2](7) NOT NULL,
	[OrderStatus] [nvarchar](20) NOT NULL,
	[EmployeeID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UsageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 31/08/2026 09:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[ServiceID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [nvarchar](100) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[DefaultDurationMinutes] [int] NULL,
	[IncludedMinutes] [int] NULL,
	[OverusePricePerHour] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ServiceName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ServiceUsageDetails]    Script Date: 31/08/2026 09:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


    -- ServiceUsageDetails

CREATE   VIEW [dbo].[ServiceUsageDetails]
AS
SELECT

    su.UsageID,

    g.FirstName + ' ' + g.LastName AS Guest,

    rm.RoomNumber,

    s.ServiceName,

    su.Quantity,

    su.DurationMinutes,

    su.OrderStatus,

    e.FirstName + ' ' + e.LastName AS Employee

FROM ServiceUsage su

INNER JOIN Reservation r
ON su.ReservationID = r.ReservationID

INNER JOIN Guest g
ON r.GuestID = g.GuestID

INNER JOIN Room rm
ON r.RoomID = rm.RoomID

INNER JOIN Service s
ON su.ServiceID = s.ServiceID

LEFT JOIN Employee e
ON su.EmployeeID = e.EmployeeID;

GO
/****** Object:  Table [dbo].[Country]    Script Date: 31/08/2026 09:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[CountryID] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CountryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimDate]    Script Date: 31/08/2026 09:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimDate](
	[DateKey] [int] NOT NULL,
	[FullDate] [date] NOT NULL,
	[Day] [tinyint] NOT NULL,
	[DayName] [varchar](10) NOT NULL,
	[DayOfWeek] [tinyint] NOT NULL,
	[IsWeekend] [bit] NOT NULL,
	[Week] [tinyint] NOT NULL,
	[Month] [tinyint] NOT NULL,
	[MonthName] [varchar](10) NOT NULL,
	[Quarter] [tinyint] NOT NULL,
	[QuarterName] [varchar](2) NOT NULL,
	[Year] [smallint] NOT NULL,
	[MonthYear] [varchar](10) NOT NULL,
	[IsHoliday] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DateKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GuestFeedback]    Script Date: 31/08/2026 09:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GuestFeedback](
	[FeedbackID] [int] IDENTITY(1,1) NOT NULL,
	[ReservationID] [int] NOT NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[FeedbackType]  AS (case when [Rating]<=(2) then 'Negative' when [Rating]=(3) then 'Neutral' else 'Positive' end) PERSISTED NOT NULL,
	[Suggestion] [nvarchar](255) NULL,
	[SentAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MealPlan]    Script Date: 31/08/2026 09:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MealPlan](
	[MealPlanID] [int] IDENTITY(1,1) NOT NULL,
	[PlanName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MealPlanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[PlanName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 31/08/2026 09:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[ReservationID] [int] NOT NULL,
	[NotificationType] [nvarchar](50) NOT NULL,
	[NotificationReason] [nvarchar](100) NOT NULL,
	[NotificationStatus] [nvarchar](50) NOT NULL,
	[Message] [nvarchar](500) NOT NULL,
	[SentAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 31/08/2026 09:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[BillID] [int] NOT NULL,
	[PaymentMethodID] [int] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[PaymentDate] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethod]    Script Date: 31/08/2026 09:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethod](
	[PaymentMethodID] [int] IDENTITY(1,1) NOT NULL,
	[MethodName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentMethodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MethodName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReservationCharge]    Script Date: 31/08/2026 09:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReservationCharge](
	[ReservationChargeID] [int] IDENTITY(1,1) NOT NULL,
	[BillID] [int] NOT NULL,
	[ChargeType] [nvarchar](30) NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReservationChargeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Season]    Script Date: 31/08/2026 09:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Season](
	[SeasonID] [int] IDENTITY(1,1) NOT NULL,
	[SeasonName] [nvarchar](50) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SeasonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SeasonName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceCharge]    Script Date: 31/08/2026 09:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceCharge](
	[ServiceChargeID] [int] IDENTITY(1,1) NOT NULL,
	[BillID] [int] NOT NULL,
	[ServiceUsageID] [int] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceChargeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ServiceCharge_ServiceUsage] UNIQUE NONCLUSTERED 
(
	[ServiceUsageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bill] ADD  CONSTRAINT [DF_Bill_Date]  DEFAULT (sysdatetime()) FOR [BillDate]
GO
ALTER TABLE [dbo].[Bill] ADD  CONSTRAINT [DF_Bill_Status]  DEFAULT ('Unpaid') FOR [BillStatus]
GO
ALTER TABLE [dbo].[Bill] ADD  CONSTRAINT [DF_Bill_TotalAmount]  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[Booking] ADD  CONSTRAINT [DF_Booking_Discount]  DEFAULT ((0)) FOR [DiscountPercentage]
GO
ALTER TABLE [dbo].[DimDate] ADD  DEFAULT ((0)) FOR [IsHoliday]
GO
ALTER TABLE [dbo].[GuestFeedback] ADD  CONSTRAINT [DF_GuestFeedback_Date]  DEFAULT (sysdatetime()) FOR [SentAt]
GO
ALTER TABLE [dbo].[Notification] ADD  CONSTRAINT [DF_Notification_Status]  DEFAULT ('Pending') FOR [NotificationStatus]
GO
ALTER TABLE [dbo].[Payment] ADD  CONSTRAINT [DF_Payment_Date]  DEFAULT (sysdatetime()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Reservation] ADD  CONSTRAINT [DF_Reservation_Date]  DEFAULT (sysdatetime()) FOR [ReservationDate]
GO
ALTER TABLE [dbo].[Reservation] ADD  CONSTRAINT [DF_Reservation_Status]  DEFAULT ('Confirmed') FOR [ReservationStatus]
GO
ALTER TABLE [dbo].[ReservationCharge] ADD  CONSTRAINT [DF_ReservationCharge_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RoomStatusHistory] ADD  CONSTRAINT [DF_RoomStatusHistory_Date]  DEFAULT (sysdatetime()) FOR [ChangeDateTime]
GO
ALTER TABLE [dbo].[ServiceCharge] ADD  CONSTRAINT [DF_ServiceCharge_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ServiceUsage] ADD  CONSTRAINT [DF_ServiceUsage_Date]  DEFAULT (sysdatetime()) FOR [UsageDate]
GO
ALTER TABLE [dbo].[ServiceUsage] ADD  CONSTRAINT [DF_ServiceUsage_Status]  DEFAULT ('Pending') FOR [OrderStatus]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_Bill_Reservation] FOREIGN KEY([ReservationID])
REFERENCES [dbo].[Reservation] ([ReservationID])
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK_Bill_Reservation]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Department] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Department] ([DepartmentID])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Department]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_EmployeeRole] FOREIGN KEY([EmployeeRoleID])
REFERENCES [dbo].[EmployeeRole] ([RoleID])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_EmployeeRole]
GO
ALTER TABLE [dbo].[EmployeeShift]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeShift_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[EmployeeShift] CHECK CONSTRAINT [FK_EmployeeShift_Employee]
GO
ALTER TABLE [dbo].[EmployeeShift]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeShift_Shift] FOREIGN KEY([ShiftID])
REFERENCES [dbo].[Shift] ([ShiftID])
GO
ALTER TABLE [dbo].[EmployeeShift] CHECK CONSTRAINT [FK_EmployeeShift_Shift]
GO
ALTER TABLE [dbo].[Guest]  WITH CHECK ADD  CONSTRAINT [FK_Guest_Country] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Country] ([CountryID])
GO
ALTER TABLE [dbo].[Guest] CHECK CONSTRAINT [FK_Guest_Country]
GO
ALTER TABLE [dbo].[GuestFeedback]  WITH CHECK ADD  CONSTRAINT [FK_GuestFeedback_Reservation] FOREIGN KEY([ReservationID])
REFERENCES [dbo].[Reservation] ([ReservationID])
GO
ALTER TABLE [dbo].[GuestFeedback] CHECK CONSTRAINT [FK_GuestFeedback_Reservation]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_Reservation] FOREIGN KEY([ReservationID])
REFERENCES [dbo].[Reservation] ([ReservationID])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_Reservation]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Bill] FOREIGN KEY([BillID])
REFERENCES [dbo].[Bill] ([BillID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Bill]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_PaymentMethod] FOREIGN KEY([PaymentMethodID])
REFERENCES [dbo].[PaymentMethod] ([PaymentMethodID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_PaymentMethod]
GO
ALTER TABLE [dbo].[RatePlan]  WITH CHECK ADD  CONSTRAINT [FK_RatePlan_MealPlan] FOREIGN KEY([MealPlanID])
REFERENCES [dbo].[MealPlan] ([MealPlanID])
GO
ALTER TABLE [dbo].[RatePlan] CHECK CONSTRAINT [FK_RatePlan_MealPlan]
GO
ALTER TABLE [dbo].[RatePlan]  WITH CHECK ADD  CONSTRAINT [FK_RatePlan_RoomCategory] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[RoomCategory] ([CategoryID])
GO
ALTER TABLE [dbo].[RatePlan] CHECK CONSTRAINT [FK_RatePlan_RoomCategory]
GO
ALTER TABLE [dbo].[RatePlan]  WITH CHECK ADD  CONSTRAINT [FK_RatePlan_Season] FOREIGN KEY([SeasonID])
REFERENCES [dbo].[Season] ([SeasonID])
GO
ALTER TABLE [dbo].[RatePlan] CHECK CONSTRAINT [FK_RatePlan_Season]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [FK_Reservation_Booking] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Booking] ([BookingID])
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [FK_Reservation_Booking]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [FK_Reservation_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [FK_Reservation_Employee]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [FK_Reservation_Guest] FOREIGN KEY([GuestID])
REFERENCES [dbo].[Guest] ([GuestID])
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [FK_Reservation_Guest]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [FK_Reservation_RatePlan] FOREIGN KEY([RatePlanID])
REFERENCES [dbo].[RatePlan] ([RatePlanID])
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [FK_Reservation_RatePlan]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [FK_Reservation_Room] FOREIGN KEY([RoomID])
REFERENCES [dbo].[Room] ([RoomID])
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [FK_Reservation_Room]
GO
ALTER TABLE [dbo].[ReservationCharge]  WITH CHECK ADD  CONSTRAINT [FK_ReservationCharge_Bill] FOREIGN KEY([BillID])
REFERENCES [dbo].[Bill] ([BillID])
GO
ALTER TABLE [dbo].[ReservationCharge] CHECK CONSTRAINT [FK_ReservationCharge_Bill]
GO
ALTER TABLE [dbo].[Room]  WITH CHECK ADD  CONSTRAINT [FK_Room_RoomCategory] FOREIGN KEY([RoomCategoryID])
REFERENCES [dbo].[RoomCategory] ([CategoryID])
GO
ALTER TABLE [dbo].[Room] CHECK CONSTRAINT [FK_Room_RoomCategory]
GO
ALTER TABLE [dbo].[Room]  WITH CHECK ADD  CONSTRAINT [FK_Room_RoomStatus] FOREIGN KEY([RoomStatusID])
REFERENCES [dbo].[RoomStatus] ([RoomStatusID])
GO
ALTER TABLE [dbo].[Room] CHECK CONSTRAINT [FK_Room_RoomStatus]
GO
ALTER TABLE [dbo].[RoomStatusHistory]  WITH CHECK ADD  CONSTRAINT [FK_RoomStatusHistory_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[RoomStatusHistory] CHECK CONSTRAINT [FK_RoomStatusHistory_Employee]
GO
ALTER TABLE [dbo].[RoomStatusHistory]  WITH CHECK ADD  CONSTRAINT [FK_RoomStatusHistory_Room] FOREIGN KEY([RoomID])
REFERENCES [dbo].[Room] ([RoomID])
GO
ALTER TABLE [dbo].[RoomStatusHistory] CHECK CONSTRAINT [FK_RoomStatusHistory_Room]
GO
ALTER TABLE [dbo].[RoomStatusHistory]  WITH CHECK ADD  CONSTRAINT [FK_RoomStatusHistory_RoomStatus] FOREIGN KEY([RoomStatusID])
REFERENCES [dbo].[RoomStatus] ([RoomStatusID])
GO
ALTER TABLE [dbo].[RoomStatusHistory] CHECK CONSTRAINT [FK_RoomStatusHistory_RoomStatus]
GO
ALTER TABLE [dbo].[ServiceCharge]  WITH CHECK ADD  CONSTRAINT [FK_ServiceCharge_Bill] FOREIGN KEY([BillID])
REFERENCES [dbo].[Bill] ([BillID])
GO
ALTER TABLE [dbo].[ServiceCharge] CHECK CONSTRAINT [FK_ServiceCharge_Bill]
GO
ALTER TABLE [dbo].[ServiceCharge]  WITH CHECK ADD  CONSTRAINT [FK_ServiceCharge_ServiceUsage] FOREIGN KEY([ServiceUsageID])
REFERENCES [dbo].[ServiceUsage] ([UsageID])
GO
ALTER TABLE [dbo].[ServiceCharge] CHECK CONSTRAINT [FK_ServiceCharge_ServiceUsage]
GO
ALTER TABLE [dbo].[ServiceUsage]  WITH CHECK ADD  CONSTRAINT [FK_ServiceUsage_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[ServiceUsage] CHECK CONSTRAINT [FK_ServiceUsage_Employee]
GO
ALTER TABLE [dbo].[ServiceUsage]  WITH CHECK ADD  CONSTRAINT [FK_ServiceUsage_Reservation] FOREIGN KEY([ReservationID])
REFERENCES [dbo].[Reservation] ([ReservationID])
GO
ALTER TABLE [dbo].[ServiceUsage] CHECK CONSTRAINT [FK_ServiceUsage_Reservation]
GO
ALTER TABLE [dbo].[ServiceUsage]  WITH CHECK ADD  CONSTRAINT [FK_ServiceUsage_Service] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Service] ([ServiceID])
GO
ALTER TABLE [dbo].[ServiceUsage] CHECK CONSTRAINT [FK_ServiceUsage_Service]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [CK_Bill_Status] CHECK  (([BillStatus]='Cancelled' OR [BillStatus]='Paid' OR [BillStatus]='Unpaid'))
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [CK_Bill_Status]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [CK_Bill_TotalAmount] CHECK  (([TotalAmount]>=(0)))
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [CK_Bill_TotalAmount]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [CK_Booking_Discount] CHECK  (([DiscountPercentage]>=(0) AND [DiscountPercentage]<=(100)))
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [CK_Booking_Discount]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [CK_Employee_Salary] CHECK  (([Salary]>=(0)))
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [CK_Employee_Salary]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [CK_Employee_Status] CHECK  (([Status]='Inactive' OR [Status]='Active'))
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [CK_Employee_Status]
GO
ALTER TABLE [dbo].[GuestFeedback]  WITH CHECK ADD  CONSTRAINT [CK_GuestFeedback_Rating] CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[GuestFeedback] CHECK CONSTRAINT [CK_GuestFeedback_Rating]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [CK_Notification_Status] CHECK  (([NotificationStatus]='Failed' OR [NotificationStatus]='Sent' OR [NotificationStatus]='Pending'))
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [CK_Notification_Status]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [CK_Notification_Type] CHECK  (([NotificationType]='SMS' OR [NotificationType]='Email'))
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [CK_Notification_Type]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [CK_Payment_Amount] CHECK  (([Amount]>(0)))
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [CK_Payment_Amount]
GO
ALTER TABLE [dbo].[RatePlan]  WITH CHECK ADD  CONSTRAINT [CK_RatePlan_Price] CHECK  (([PricePerNight]>(0)))
GO
ALTER TABLE [dbo].[RatePlan] CHECK CONSTRAINT [CK_RatePlan_Price]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [CK_Reservation_ActualDates] CHECK  (([ActualCheckOut] IS NULL OR [ActualCheckIn] IS NOT NULL))
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [CK_Reservation_ActualDates]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [CK_Reservation_CheckDates] CHECK  (([CheckOut]>[CheckIn]))
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [CK_Reservation_CheckDates]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [CK_Reservation_NumberOfGuests] CHECK  (([NumberOfGuests]>(0)))
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [CK_Reservation_NumberOfGuests]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [CK_Reservation_Status] CHECK  (([ReservationStatus]='No Show' OR [ReservationStatus]='Cancelled' OR [ReservationStatus]='Completed' OR [ReservationStatus]='Checked In' OR [ReservationStatus]='Confirmed'))
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [CK_Reservation_Status]
GO
ALTER TABLE [dbo].[ReservationCharge]  WITH CHECK ADD  CONSTRAINT [CK_ReservationCharge_Amount] CHECK  (([Amount]>=(0)))
GO
ALTER TABLE [dbo].[ReservationCharge] CHECK CONSTRAINT [CK_ReservationCharge_Amount]
GO
ALTER TABLE [dbo].[ReservationCharge]  WITH CHECK ADD  CONSTRAINT [CK_ReservationCharge_Type] CHECK  (([ChargeType]='No Show Fee' OR [ChargeType]='Cancellation Fee' OR [ChargeType]='Accommodation'))
GO
ALTER TABLE [dbo].[ReservationCharge] CHECK CONSTRAINT [CK_ReservationCharge_Type]
GO
ALTER TABLE [dbo].[Room]  WITH CHECK ADD  CONSTRAINT [CK_Room_Floor] CHECK  (([Floor]>=(0)))
GO
ALTER TABLE [dbo].[Room] CHECK CONSTRAINT [CK_Room_Floor]
GO
ALTER TABLE [dbo].[RoomCategory]  WITH CHECK ADD  CONSTRAINT [CK_RoomCategory_MaximumGuests] CHECK  (([MaximumGuests]>(0)))
GO
ALTER TABLE [dbo].[RoomCategory] CHECK CONSTRAINT [CK_RoomCategory_MaximumGuests]
GO
ALTER TABLE [dbo].[RoomCategory]  WITH CHECK ADD  CONSTRAINT [CK_RoomCategory_NumberOfBeds] CHECK  (([NumberOfBeds]>(0)))
GO
ALTER TABLE [dbo].[RoomCategory] CHECK CONSTRAINT [CK_RoomCategory_NumberOfBeds]
GO
ALTER TABLE [dbo].[RoomCategory]  WITH CHECK ADD  CONSTRAINT [CK_RoomCategory_RoomSize] CHECK  (([RoomSize]>(0)))
GO
ALTER TABLE [dbo].[RoomCategory] CHECK CONSTRAINT [CK_RoomCategory_RoomSize]
GO
ALTER TABLE [dbo].[Season]  WITH CHECK ADD  CONSTRAINT [CK_Season_Dates] CHECK  (([EndDate]>=[StartDate]))
GO
ALTER TABLE [dbo].[Season] CHECK CONSTRAINT [CK_Season_Dates]
GO
ALTER TABLE [dbo].[Service]  WITH CHECK ADD  CONSTRAINT [CK_Service_Duration] CHECK  (([DefaultDurationMinutes] IS NULL OR [DefaultDurationMinutes]>(0)))
GO
ALTER TABLE [dbo].[Service] CHECK CONSTRAINT [CK_Service_Duration]
GO
ALTER TABLE [dbo].[Service]  WITH CHECK ADD  CONSTRAINT [CK_Service_IncludedMinutes] CHECK  (([IncludedMinutes] IS NULL OR [IncludedMinutes]>=(0)))
GO
ALTER TABLE [dbo].[Service] CHECK CONSTRAINT [CK_Service_IncludedMinutes]
GO
ALTER TABLE [dbo].[Service]  WITH CHECK ADD  CONSTRAINT [CK_Service_OverusePrice] CHECK  (([OverusePricePerHour] IS NULL OR [OverusePricePerHour]>=(0)))
GO
ALTER TABLE [dbo].[Service] CHECK CONSTRAINT [CK_Service_OverusePrice]
GO
ALTER TABLE [dbo].[Service]  WITH CHECK ADD  CONSTRAINT [CK_Service_UnitPrice] CHECK  (([UnitPrice]>=(0)))
GO
ALTER TABLE [dbo].[Service] CHECK CONSTRAINT [CK_Service_UnitPrice]
GO
ALTER TABLE [dbo].[ServiceCharge]  WITH CHECK ADD  CONSTRAINT [CK_ServiceCharge_Amount] CHECK  (([Amount]>=(0)))
GO
ALTER TABLE [dbo].[ServiceCharge] CHECK CONSTRAINT [CK_ServiceCharge_Amount]
GO
ALTER TABLE [dbo].[ServiceUsage]  WITH CHECK ADD  CONSTRAINT [CK_ServiceUsage_Duration] CHECK  (([DurationMinutes] IS NULL OR [DurationMinutes]>(0)))
GO
ALTER TABLE [dbo].[ServiceUsage] CHECK CONSTRAINT [CK_ServiceUsage_Duration]
GO
ALTER TABLE [dbo].[ServiceUsage]  WITH CHECK ADD  CONSTRAINT [CK_ServiceUsage_Quantity] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[ServiceUsage] CHECK CONSTRAINT [CK_ServiceUsage_Quantity]
GO
ALTER TABLE [dbo].[ServiceUsage]  WITH CHECK ADD  CONSTRAINT [CK_ServiceUsage_Status] CHECK  (([OrderStatus]='Cancelled' OR [OrderStatus]='Completed' OR [OrderStatus]='In Progress' OR [OrderStatus]='Pending'))
GO
ALTER TABLE [dbo].[ServiceUsage] CHECK CONSTRAINT [CK_ServiceUsage_Status]
GO
/****** Object:  StoredProcedure [dbo].[CancelReservation]    Script Date: 31/08/2026 09:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[CancelReservation]
(
    @ReservationID INT,
    @CancellationDate DATETIME2 = NULL
)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY

        BEGIN TRANSACTION;

        DECLARE
            @ReservationStatus NVARCHAR(30),

            @RatePlanID INT,

            @CheckIn DATETIME2,
            @CheckOut DATETIME2,

            @PricePerNight DECIMAL(10,2),

            @ReservedNights INT,

            @AccommodationAmount DECIMAL(10,2),

            @DaysBeforeCheckIn INT,

            @CancellationPercent DECIMAL(5,2),

            @CancellationFee DECIMAL(10,2),

            @BillID INT;


        -------------------------------------------------
        -- Cancellation date
        -------------------------------------------------

        IF @CancellationDate IS NULL
            SET @CancellationDate = SYSDATETIME();


        -------------------------------------------------
        -- Get reservation
        -------------------------------------------------

        SELECT
            @ReservationStatus = ReservationStatus,
            @RatePlanID = RatePlanID,
            @CheckIn = CheckIn,
            @CheckOut = CheckOut
        FROM Reservation
        WHERE ReservationID = @ReservationID;


        -------------------------------------------------
        -- Reservation exists
        -------------------------------------------------

        IF @ReservationStatus IS NULL
        BEGIN
            RAISERROR(
                'Reservation does not exist.',
                16,
                1
            );

            ROLLBACK TRANSACTION;
            RETURN;
        END;


        -------------------------------------------------
        -- Only Confirmed reservations
        -------------------------------------------------

        IF @ReservationStatus <> 'Confirmed'
        BEGIN
            RAISERROR(
                'Only confirmed reservations can be cancelled.',
                16,
                1
            );

            ROLLBACK TRANSACTION;
            RETURN;
        END;


        -------------------------------------------------
        -- Cancellation must be before Check-In
        -------------------------------------------------

        IF @CancellationDate >= @CheckIn
        BEGIN
            RAISERROR(
                'Cancellation date must be before the reservation check-in date.',
                16,
                1
            );

            ROLLBACK TRANSACTION;
            RETURN;
        END;


        -------------------------------------------------
        -- Reserved nights
        -------------------------------------------------

        SET @ReservedNights =
            DATEDIFF(
                DAY,
                @CheckIn,
                @CheckOut
            );

        IF @ReservedNights <= 0
            SET @ReservedNights = 1;


        -------------------------------------------------
        -- Price per night
        -------------------------------------------------

        SELECT
            @PricePerNight = PricePerNight
        FROM RatePlan
        WHERE RatePlanID = @RatePlanID;


        IF @PricePerNight IS NULL
        BEGIN
            RAISERROR(
                'Rate plan does not exist.',
                16,
                1
            );

            ROLLBACK TRANSACTION;
            RETURN;
        END;


        -------------------------------------------------
        -- Accommodation amount
        -------------------------------------------------

        SET @AccommodationAmount =
            @ReservedNights * @PricePerNight;


        -------------------------------------------------
        -- Days before Check-In
        -------------------------------------------------

        SET @DaysBeforeCheckIn =
            DATEDIFF(
                DAY,
                @CancellationDate,
                @CheckIn
            );


        -------------------------------------------------
        -- Cancellation policy
        -------------------------------------------------

        IF @DaysBeforeCheckIn > 7

            SET @CancellationPercent = 0;

        ELSE IF @DaysBeforeCheckIn BETWEEN 2 AND 7

            SET @CancellationPercent = 30;

        ELSE

            SET @CancellationPercent = 50;


        -------------------------------------------------
        -- Cancellation fee
        -------------------------------------------------

        SET @CancellationFee =
            @AccommodationAmount *
            (@CancellationPercent / 100.0);


        -------------------------------------------------
        -- Find existing Bill
        -------------------------------------------------

        SELECT
            @BillID = BillID
        FROM Bill
        WHERE ReservationID = @ReservationID;


        -------------------------------------------------
        -- Create Bill only when there is a fee
        -------------------------------------------------

        IF @CancellationFee > 0
        BEGIN

            IF @BillID IS NULL
            BEGIN

                INSERT INTO Bill
                (
                    ReservationID,
                    BillDate,
                    BillStatus,
                    TotalAmount
                )
                VALUES
                (
                    @ReservationID,
                    @CancellationDate,
                    'Unpaid',
                    0
                );

                SET @BillID = SCOPE_IDENTITY();

            END;


            -------------------------------------------------
            -- Cancellation charge
            -------------------------------------------------

            INSERT INTO ReservationCharge
            (
                BillID,
                ChargeType,
                Amount
            )
            VALUES
            (
                @BillID,
                'Cancellation Fee',
                @CancellationFee
            );

        END;


        -------------------------------------------------
        -- Update reservation
        -------------------------------------------------

        UPDATE Reservation
        SET
            ReservationStatus = 'Cancelled',
            CancellationDate = @CancellationDate
        WHERE ReservationID = @ReservationID;


        COMMIT TRANSACTION;

    END TRY

    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        THROW;

    END CATCH

END;
GO
/****** Object:  StoredProcedure [dbo].[ChangeRoomStatus]    Script Date: 31/08/2026 09:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ChangeRoomStatus]
(
    @RoomID INT,
    @NewRoomStatusID INT
)
AS
BEGIN

    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY

        BEGIN TRANSACTION;

        ---------------------------------------------------------
        -- Variables
        ---------------------------------------------------------

        DECLARE
            @CurrentStatusID INT,
            @CurrentStatusName NVARCHAR(50),
            @NewStatusName NVARCHAR(50);

        ---------------------------------------------------------
        -- Room exists?
        ---------------------------------------------------------

        SELECT
            @CurrentStatusID = RoomStatusID
        FROM Room
        WHERE RoomID = @RoomID;

        IF @CurrentStatusID IS NULL
        BEGIN
            RAISERROR('Room does not exist.',16,1);
            ROLLBACK TRANSACTION;
            RETURN;
        END;

        ---------------------------------------------------------
        -- New status exists?
        ---------------------------------------------------------

        SELECT
            @NewStatusName = StatusName
        FROM RoomStatus
        WHERE RoomStatusID = @NewRoomStatusID;

        IF @NewStatusName IS NULL
        BEGIN
            RAISERROR('Invalid room status.',16,1);
            ROLLBACK TRANSACTION;
            RETURN;
        END;

        ---------------------------------------------------------
        -- Current status name
        ---------------------------------------------------------

        SELECT
            @CurrentStatusName = StatusName
        FROM RoomStatus
        WHERE RoomStatusID = @CurrentStatusID;

        ---------------------------------------------------------
        -- Cannot manually set Occupied or Cleaning
        ---------------------------------------------------------

        IF @NewStatusName IN ('Occupied','Cleaning')
        BEGIN
            RAISERROR('Occupied and Cleaning statuses can only be set automatically by Check-In and Check-Out procedures.',16,1);
            ROLLBACK TRANSACTION;
            RETURN;
        END;

        ---------------------------------------------------------
        -- Available
        ---------------------------------------------------------

        IF @CurrentStatusName = 'Available'
        BEGIN

            IF @NewStatusName NOT IN
            (
                'Under Maintenance',
                'Out of Service'
            )
            BEGIN
                RAISERROR('Available rooms can only be changed to Under Maintenance or Out of Service.',16,1);
                ROLLBACK TRANSACTION;
                RETURN;
            END;

        END

        ---------------------------------------------------------
        -- Occupied
        ---------------------------------------------------------

        ELSE IF @CurrentStatusName = 'Occupied'
        BEGIN

            IF @NewStatusName NOT IN
            (
                'Under Maintenance',
                'Out of Service'
            )
            BEGIN
                RAISERROR('Occupied rooms can only be changed to Under Maintenance or Out of Service manually.',16,1);
                ROLLBACK TRANSACTION;
                RETURN;
            END;

        END

        ---------------------------------------------------------
        -- Cleaning
        ---------------------------------------------------------

        ELSE IF @CurrentStatusName = 'Cleaning'
        BEGIN

            IF @NewStatusName NOT IN
            (
                'Available',
                'Under Maintenance',
                'Out of Service'
            )
            BEGIN
                RAISERROR('Cleaning rooms can only become Available, Under Maintenance or Out of Service.',16,1);
                ROLLBACK TRANSACTION;
                RETURN;
            END;

        END

        ---------------------------------------------------------
        -- Under Maintenance
        ---------------------------------------------------------

        ELSE IF @CurrentStatusName = 'Under Maintenance'
        BEGIN

            IF @NewStatusName <> 'Available'
            BEGIN
                RAISERROR('Rooms under maintenance can only become Available.',16,1);
                ROLLBACK TRANSACTION;
                RETURN;
            END;

        END

        ---------------------------------------------------------
        -- Out of Service
        ---------------------------------------------------------

        ELSE IF @CurrentStatusName = 'Out of Service'
        BEGIN

            IF @NewStatusName <> 'Available'
            BEGIN
                RAISERROR('Out of Service rooms can only become Available.',16,1);
                ROLLBACK TRANSACTION;
                RETURN;
            END;

        END;

        ---------------------------------------------------------
        -- Update Room
        ---------------------------------------------------------

        UPDATE Room
        SET RoomStatusID = @NewRoomStatusID
        WHERE RoomID = @RoomID;

        COMMIT TRANSACTION;

    END TRY

    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        THROW;

    END CATCH

END;
GO
/****** Object:  StoredProcedure [dbo].[CheckInGuest]    Script Date: 31/08/2026 09:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[CheckInGuest]
(
    @ReservationID INT,
    @ActualCheckIn DATETIME2 = NULL
)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY

        BEGIN TRANSACTION;

        DECLARE
            @ReservationStatus NVARCHAR(30),
            @RoomID INT,
            @OccupiedStatusID INT,
            @ScheduledCheckIn DATETIME2;

        -- If no actual check-in date is supplied,
        -- use the current date/time
        IF @ActualCheckIn IS NULL
            SET @ActualCheckIn = SYSDATETIME();

        -- Get reservation information
        SELECT
            @ReservationStatus = ReservationStatus,
            @RoomID = RoomID,
            @ScheduledCheckIn = CheckIn
        FROM dbo.Reservation
        WHERE ReservationID = @ReservationID;

        -- Reservation exists?
        IF @ReservationStatus IS NULL
        BEGIN
            RAISERROR(
                'Reservation does not exist.',
                16,
                1
            );

            ROLLBACK TRANSACTION;
            RETURN;
        END;

        -- Reservation must be confirmed
        IF @ReservationStatus <> 'Confirmed'
        BEGIN
            RAISERROR(
                'Only confirmed reservations can be checked in.',
                16,
                1
            );

            ROLLBACK TRANSACTION;
            RETURN;
        END;

        -- Actual check-in cannot be before scheduled check-in
        IF @ActualCheckIn < @ScheduledCheckIn
        BEGIN
            RAISERROR(
                'Actual check-in cannot be before the scheduled check-in date.',
                16,
                1
            );

            ROLLBACK TRANSACTION;
            RETURN;
        END;

        -- Get Occupied status
        SELECT
            @OccupiedStatusID = RoomStatusID
        FROM dbo.RoomStatus
        WHERE StatusName = 'Occupied';

        IF @OccupiedStatusID IS NULL
        BEGIN
            RAISERROR(
                'Room status Occupied does not exist.',
                16,
                1
            );

            ROLLBACK TRANSACTION;
            RETURN;
        END;

        -- Update Reservation
        UPDATE dbo.Reservation
        SET
            ActualCheckIn = @ActualCheckIn,
            ReservationStatus = 'Checked In'
        WHERE ReservationID = @ReservationID;

        -- Update Room
        UPDATE dbo.Room
        SET
            RoomStatusID = @OccupiedStatusID
        WHERE RoomID = @RoomID;

        COMMIT TRANSACTION;

    END TRY

    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        THROW;

    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[CheckOutGuest]    Script Date: 31/08/2026 09:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[CheckOutGuest]
(
    @ReservationID INT,
    @ActualCheckOut DATETIME2 = NULL
)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY

        BEGIN TRANSACTION;

        DECLARE
            @ReservationStatus NVARCHAR(30),
            @RoomID INT,
            @RatePlanID INT,
            @BookingID INT,
            @ActualCheckIn DATETIME2,

            @PricePerNight DECIMAL(10,2),
            @Discount DECIMAL(5,2),

            @NumberOfNights INT,
            @AccommodationAmount DECIMAL(10,2),

            @BillID INT,
            @CleaningStatusID INT;


        SELECT
            @ReservationStatus = ReservationStatus,
            @RoomID = RoomID,
            @RatePlanID = RatePlanID,
            @BookingID = BookingID,
            @ActualCheckIn = ActualCheckIn
        FROM Reservation
        WHERE ReservationID = @ReservationID;


        IF @ReservationStatus IS NULL
        BEGIN
            RAISERROR(
                'Reservation does not exist.',
                16,
                1
            );

            ROLLBACK TRANSACTION;
            RETURN;
        END;


        IF @ReservationStatus <> 'Checked In'
        BEGIN
            RAISERROR(
                'Only checked in reservations can be checked out.',
                16,
                1
            );

            ROLLBACK TRANSACTION;
            RETURN;
        END;


        -- If no checkout date is provided,
        -- use the current date and time

        IF @ActualCheckOut IS NULL
        BEGIN
            SET @ActualCheckOut = SYSDATETIME();
        END;


        -- Number of nights

        SET @NumberOfNights =
            DATEDIFF(
                DAY,
                @ActualCheckIn,
                @ActualCheckOut
            );


        IF @NumberOfNights < 0
        BEGIN
            RAISERROR(
                'Actual check-out date cannot be before check-in.',
                16,
                1
            );

            ROLLBACK TRANSACTION;
            RETURN;
        END;


        IF @NumberOfNights = 0
        BEGIN
            SET @NumberOfNights = 1;
        END;


        -- Price per night

        SELECT
            @PricePerNight = PricePerNight
        FROM RatePlan
        WHERE RatePlanID = @RatePlanID;


        -- Discount

        SELECT
            @Discount = DiscountPercentage
        FROM Booking
        WHERE BookingID = @BookingID;


        IF @Discount IS NULL
        BEGIN
            SET @Discount = 0;
        END;


        -- Accommodation amount

        SET @AccommodationAmount =
            (@NumberOfNights * @PricePerNight)
            *
            (1 - (@Discount / 100.0));


        -- Update reservation

        UPDATE Reservation
        SET
            ActualCheckOut = @ActualCheckOut,
            ReservationStatus = 'Completed'
        WHERE ReservationID = @ReservationID;


        -- Room -> Cleaning

        SELECT
            @CleaningStatusID = RoomStatusID
        FROM RoomStatus
        WHERE StatusName = 'Cleaning';


        UPDATE Room
        SET RoomStatusID = @CleaningStatusID
        WHERE RoomID = @RoomID;


        -- Bill

        SELECT
            @BillID = BillID
        FROM Bill
        WHERE ReservationID = @ReservationID;


        IF @BillID IS NULL
        BEGIN

            INSERT INTO Bill
            (
                ReservationID,
                BillDate,
                BillStatus,
                TotalAmount
            )
            VALUES
            (
                @ReservationID,
                @ActualCheckOut,
                'Unpaid',
                0
            );

            SET @BillID = SCOPE_IDENTITY();

        END;


        -- Prevent duplicate accommodation charge

        IF NOT EXISTS
        (
            SELECT 1
            FROM ReservationCharge
            WHERE BillID = @BillID
              AND ChargeType = 'Accommodation'
        )
        BEGIN

            INSERT INTO ReservationCharge
            (
                BillID,
                ChargeType,
                Amount
            )
            VALUES
            (
                @BillID,
                'Accommodation',
                @AccommodationAmount
            );

        END;


        COMMIT TRANSACTION;

    END TRY

    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        THROW;

    END CATCH

END;
GO
/****** Object:  StoredProcedure [dbo].[GenerateServiceCharge]    Script Date: 31/08/2026 09:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GenerateServiceCharge]
(
    @UsageID INT
)
AS
BEGIN

    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY

        BEGIN TRANSACTION;


        DECLARE

            @ReservationID INT,
            @ServiceID INT,
            @Quantity INT,
            @DurationMinutes INT,
            @OrderStatus NVARCHAR(30),

            @UnitPrice DECIMAL(10,2),
            @IncludedMinutes INT,
            @OverusePricePerHour DECIMAL(10,2),

            @Amount DECIMAL(10,2),
            @ExtraCharge DECIMAL(10,2)=0,

            @BillID INT;

 
        SELECT

            @ReservationID = ReservationID,
            @ServiceID = ServiceID,
            @Quantity = Quantity,
            @DurationMinutes = DurationMinutes,
            @OrderStatus = OrderStatus

        FROM ServiceUsage

        WHERE UsageID = @UsageID;

        IF @ReservationID IS NULL
        BEGIN
            RAISERROR('Service usage does not exist.',16,1);
            ROLLBACK TRANSACTION;
            RETURN;
        END;


        IF @OrderStatus <> 'Completed'
        BEGIN
            RAISERROR('Only completed services can be charged.',16,1);
            ROLLBACK TRANSACTION;
            RETURN;
        END;

        -- Prevent duplicate charges

        IF EXISTS
        (
            SELECT 1
            FROM ServiceCharge
            WHERE ServiceUsageID = @UsageID
        )
        BEGIN
            RAISERROR('This service has already been charged.',16,1);
            ROLLBACK TRANSACTION;
            RETURN;
        END;


        SELECT

            @UnitPrice = UnitPrice,
            @IncludedMinutes = IncludedMinutes,
            @OverusePricePerHour = OverusePricePerHour

        FROM Service

        WHERE ServiceID = @ServiceID;

        -- Base amount
        SET @Amount = @Quantity * @UnitPrice;

        
        -- SPA overuse
        IF @IncludedMinutes IS NOT NULL
           AND @DurationMinutes IS NOT NULL
           AND @DurationMinutes > @IncludedMinutes
        BEGIN

            SET @ExtraCharge =
                ((@DurationMinutes - @IncludedMinutes) / 60.0)
                * @OverusePricePerHour;

            SET @Amount =
                @Amount + @ExtraCharge;

        END;

        -- Bill
        SELECT
            @BillID = BillID
        FROM Bill
        WHERE ReservationID = @ReservationID;

        IF @BillID IS NULL
        BEGIN

            INSERT INTO Bill
            (
                ReservationID,
                BillDate,
                BillStatus,
                TotalAmount
            )
            VALUES
            (
                @ReservationID,
                SYSDATETIME(),
                'Unpaid',
                0
            );

            SET @BillID = SCOPE_IDENTITY();

        END;

        -- Insert service charge

        INSERT INTO ServiceCharge
        (
            BillID,
            ServiceUsageID,
            Amount
        )
        VALUES
        (
            @BillID,
            @UsageID,
            @Amount
        );

        COMMIT TRANSACTION;

    END TRY

    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        THROW;

    END CATCH

END;
GO
/****** Object:  StoredProcedure [dbo].[NoShow]    Script Date: 31/08/2026 09:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[NoShow]
(
    @ReservationID INT,
    @NoShowDate DATETIME2 = NULL
)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY

        BEGIN TRANSACTION;

        DECLARE
            @ReservationStatus NVARCHAR(30),

            @RatePlanID INT,

            @CheckIn DATETIME2,
            @CheckOut DATETIME2,

            @PricePerNight DECIMAL(10,2),

            @ReservedNights INT,

            @AccommodationAmount DECIMAL(10,2),

            @NoShowPercent DECIMAL(5,2) = 100,
            @NoShowFee DECIMAL(10,2),

            @BillID INT,

            @RoomID INT,
            @AvailableStatusID INT;


        -------------------------------------------------
        -- No Show date
        -------------------------------------------------

        IF @NoShowDate IS NULL
            SET @NoShowDate = SYSDATETIME();


        -------------------------------------------------
        -- Get reservation
        -------------------------------------------------

        SELECT
            @ReservationStatus = ReservationStatus,
            @RatePlanID = RatePlanID,
            @CheckIn = CheckIn,
            @CheckOut = CheckOut,
            @RoomID = RoomID
        FROM Reservation
        WHERE ReservationID = @ReservationID;


        -------------------------------------------------
        -- Reservation exists
        -------------------------------------------------

        IF @ReservationStatus IS NULL
        BEGIN
            RAISERROR(
                'Reservation does not exist.',
                16,
                1
            );

            ROLLBACK TRANSACTION;
            RETURN;
        END;


        -------------------------------------------------
        -- Only Confirmed reservations
        -------------------------------------------------

        IF @ReservationStatus <> 'Confirmed'
        BEGIN
            RAISERROR(
                'Only confirmed reservations can be marked as No Show.',
                16,
                1
            );

            ROLLBACK TRANSACTION;
            RETURN;
        END;


        -------------------------------------------------
        -- No Show cannot happen before Check-In
        -------------------------------------------------

        IF @NoShowDate < @CheckIn
        BEGIN
            RAISERROR(
                'No Show date cannot be before the reservation check-in date.',
                16,
                1
            );

            ROLLBACK TRANSACTION;
            RETURN;
        END;


        -------------------------------------------------
        -- Reserved nights
        -------------------------------------------------

        SET @ReservedNights =
            DATEDIFF(
                DAY,
                @CheckIn,
                @CheckOut
            );

        IF @ReservedNights <= 0
            SET @ReservedNights = 1;


        -------------------------------------------------
        -- Price per night
        -------------------------------------------------

        SELECT
            @PricePerNight = PricePerNight
        FROM RatePlan
        WHERE RatePlanID = @RatePlanID;


        IF @PricePerNight IS NULL
        BEGIN
            RAISERROR(
                'Rate plan does not exist.',
                16,
                1
            );

            ROLLBACK TRANSACTION;
            RETURN;
        END;


        -------------------------------------------------
        -- Accommodation amount
        -------------------------------------------------

        SET @AccommodationAmount =
            @ReservedNights * @PricePerNight;


        -------------------------------------------------
        -- No Show fee = 100%
        -------------------------------------------------

        SET @NoShowFee =
            @AccommodationAmount *
            (@NoShowPercent / 100.0);


        -------------------------------------------------
        -- Find existing Bill
        -------------------------------------------------

        SELECT
            @BillID = BillID
        FROM Bill
        WHERE ReservationID = @ReservationID;


        -------------------------------------------------
        -- Create Bill if necessary
        -------------------------------------------------

        IF @BillID IS NULL
        BEGIN

            INSERT INTO Bill
            (
                ReservationID,
                BillDate,
                BillStatus,
                TotalAmount
            )
            VALUES
            (
                @ReservationID,
                @NoShowDate,
                'Unpaid',
                0
            );

            SET @BillID = SCOPE_IDENTITY();

        END;


        -------------------------------------------------
        -- Insert No Show charge
        -------------------------------------------------

        INSERT INTO ReservationCharge
        (
            BillID,
            ChargeType,
            Amount
        )
        VALUES
        (
            @BillID,
            'No Show Fee',
            @NoShowFee
        );


        -------------------------------------------------
        -- Find Available room status
        -------------------------------------------------

        SELECT
            @AvailableStatusID = RoomStatusID
        FROM RoomStatus
        WHERE StatusName = 'Available';


        IF @AvailableStatusID IS NULL
        BEGIN
            RAISERROR(
                'Available room status does not exist.',
                16,
                1
            );

            ROLLBACK TRANSACTION;
            RETURN;
        END;


        -------------------------------------------------
        -- Update reservation
        -------------------------------------------------

        UPDATE Reservation
        SET
            ReservationStatus = 'No Show'
        WHERE ReservationID = @ReservationID;


        -------------------------------------------------
        -- Release room
        -------------------------------------------------

        UPDATE Room
        SET
            RoomStatusID = @AvailableStatusID
        WHERE RoomID = @RoomID;


        COMMIT TRANSACTION;

    END TRY

    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        THROW;

    END CATCH

END;
GO
/****** Object:  StoredProcedure [dbo].[RegisterPayment]    Script Date: 31/08/2026 09:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[RegisterPayment]
(
    @BillID INT,
    @Amount DECIMAL(10,2),
    @PaymentMethodID INT,
    @PaymentDate DATETIME2 = NULL
)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY

        BEGIN TRANSACTION;

        DECLARE
            @BillStatus NVARCHAR(30),
            @TotalAmount DECIMAL(10,2),
            @AlreadyPaid DECIMAL(10,2),
            @RemainingAmount DECIMAL(10,2);

        -- If no payment date is supplied,
        -- use the current date/time
        IF @PaymentDate IS NULL
            SET @PaymentDate = SYSDATETIME();

        -- Get bill information
        SELECT
            @BillStatus = BillStatus,
            @TotalAmount = TotalAmount
        FROM dbo.Bill WITH (UPDLOCK, HOLDLOCK)
        WHERE BillID = @BillID;

        -- Bill must exist
        IF @TotalAmount IS NULL
        BEGIN
            RAISERROR(
                'Bill does not exist.',
                16,
                1
            );

            ROLLBACK TRANSACTION;
            RETURN;
        END;

        -- Cancelled bills cannot receive payments
        IF @BillStatus = 'Cancelled'
        BEGIN
            RAISERROR(
                'Cannot register a payment for a cancelled bill.',
                16,
                1
            );

            ROLLBACK TRANSACTION;
            RETURN;
        END;

        -- Already paid bills cannot receive additional payments
        IF @BillStatus = 'Paid'
        BEGIN
            RAISERROR(
                'Bill is already fully paid.',
                16,
                1
            );

            ROLLBACK TRANSACTION;
            RETURN;
        END;

        -- Payment amount must be positive
        IF @Amount <= 0
        BEGIN
            RAISERROR(
                'Payment amount must be greater than zero.',
                16,
                1
            );

            ROLLBACK TRANSACTION;
            RETURN;
        END;

        -- Payment method must exist
        IF NOT EXISTS
        (
            SELECT 1
            FROM dbo.PaymentMethod
            WHERE PaymentMethodID = @PaymentMethodID
        )
        BEGIN
            RAISERROR(
                'Payment method does not exist.',
                16,
                1
            );

            ROLLBACK TRANSACTION;
            RETURN;
        END;

        -- Calculate amount already paid
        SELECT
            @AlreadyPaid = ISNULL(SUM(Amount), 0)
        FROM dbo.Payment
        WHERE BillID = @BillID;

        -- Calculate remaining balance
        SET @RemainingAmount = @TotalAmount - @AlreadyPaid;

        -- Do not allow overpayment
        IF @Amount > @RemainingAmount
        BEGIN
            RAISERROR(
                'Payment amount exceeds the remaining balance of the bill.',
                16,
                1
            );

            ROLLBACK TRANSACTION;
            RETURN;
        END;

        -- Register payment
        INSERT INTO dbo.Payment
        (
            BillID,
            Amount,
            PaymentMethodID,
            PaymentDate
        )
        VALUES
        (
            @BillID,
            @Amount,
            @PaymentMethodID,
            @PaymentDate
        );

        -- Mark bill as Paid if the remaining balance was fully paid
        IF @Amount = @RemainingAmount
        BEGIN
            UPDATE dbo.Bill
            SET BillStatus = 'Paid'
            WHERE BillID = @BillID;
        END;

        COMMIT TRANSACTION;

    END TRY

    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        THROW;

    END CATCH
END;
GO
USE [master]
GO
