USE [HotelManagement]
GO
/****** Object:  Trigger [dbo].[trigger_Room_StatusHistory]    Script Date: 04/08/2026 14:50:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER TRIGGER [dbo].[trigger_Room_StatusHistory]
ON [dbo].[Room]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    IF UPDATE(RoomStatusID)
    BEGIN
        INSERT INTO RoomStatusHistory
        (
            RoomID,
            RoomStatusID,
            EmployeeID
        )
        SELECT
            i.RoomID,
            i.RoomStatusID,
            NULL
        FROM inserted i
        INNER JOIN deleted d
            ON i.RoomID = d.RoomID
        WHERE i.RoomStatusID <> d.RoomStatusID;
    END
END;

